        <ul class="navbar-nav navbar-right">
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            <div class="d-sm-none d-lg-inline-block">{{ __('Hi,') }} {{ auth.u_name | default (__('friend')) }}</div></a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-title">{{ auth.u_name }}</div>
              <a href="features-profile.html" class="dropdown-item has-icon">
                <i class="far fa-user"></i> {{ __('Profile') }}
              </a>
              <a href="{{ url_for('core.accounts.list.web') }}/{{ auth.u_uid }}" class="dropdown-item has-icon">
                <i class="fas fa-cog"></i> {{ __('Settings') }}
              </a>
              <div class="dropdown-divider"></div>
              <a href="{{ url_for('core.signout.web') }}" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> {{ __('Sign out') }}
              </a>
            </div>
          </li>
        </ul>