{% extends '/Core/Views/templates/default.twig' %}

{% block content %}

          <div class="section-header">
            <h1>{{ __('What I did today') }}</h1>
          </div>

          <div class="section-body">

<div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">

                    <ul class="nav nav-pills" id="worklog-pills" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="worklog-work" data-toggle="tab" href="#worklog-work-div" role="tab" aria-controls="work" aria-selected="true"><i class="fas fa-wrench"></i> {{ __('Work') }}</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="worklog-shift" data-toggle="tab" href="#worklog-shift-div" role="tab" aria-controls="shift" aria-selected="false"><i class="fas fa-user-clock"></i> {{ __('Shift') }}</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="worklog-negotiation" data-toggle="tab" href="#worklog-negotiation-div" role="tab" aria-controls="negotiation" aria-selected="false"><i class="fas fa-handshake"></i> {{ __('Negotiation') }}</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="worklog-away" data-toggle="tab" href="#worklog-away-div" role="tab" aria-controls="away" aria-selected="false"><i class="fas fa-battery-quarter"></i> {{ __('Away / sick') }}</a>
                      </li>
                    </ul>


                  </div>
                  <div class="card-body">
                    
                    <div class="tab-content" id="worklog-forms">
                      <div class="tab-pane fade show active" id="worklog-work-div" role="tabpanel" aria-labelledby="worklog-work">
                        <form action="{{ url_for('worklog.me') }}" method="post" autocomplete="off" id="worklog_work_form">
                          {% include '/Worklog/Views/i-work.twig' %}
                        </form>
                     </div>
                      <div class="tab-pane fade" id="worklog-shift-div" role="tabpanel" aria-labelledby="worklog-shift">
                      {# {% include '/Worklog/Views/i-shift.twig' %} #}
                      {{ __('Disabled') }}
                      </div>
                      <div class="tab-pane fade" id="worklog-negotiation-div" role="tabpanel" aria-labelledby="worklog-negotiation">
                      {# {% include '/Worklog/Views/i-negotiate.twig' %} #}
                      {{ __('Disabled') }}
                      </div>
                      <div class="tab-pane fade" id="worklog-away-div" role="tabpanel" aria-labelledby="worklog-away">
                      {% include '/Worklog/Views/i-away.twig' %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            <div class="row">
              <div class="col-12">
                <div class="card">

                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <table class="table table-striped" id="log">
                        <tr>
                          <th class="col-sm-1">{{ __('Day / Fin.') }}</th>
                          <th class="col-sm-1">{{ __('Type') }}</th>
                          <th>{{ __('Summary') }}</th>
                          <th class="col-sm-1">{{ __('Hrs.') }}</th>
                          <th>{{ __('Team') }}</th>
                          <th>{{ __('Project') }}</th>
                          <th>{{ __('Status') }}</th>
                          <th>{{ __('Location') }}</th>
                          <th>{{ __('Details') }}</th>
                        </tr>
                        <tr>
                        <tr class="table-info">
                          <td>⁠—</td>
                          <td></td>
                          <td>January 2020</td>
                          <td>155:27</td>
                          <td>Industra</td>
                          <td>{{ event.dtend }}</td>
                          <td>{{ event.description }}</td>
                          <td>{{ event.last_modifed }}</td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>01 / 14:25</td>
                          <td><i class="fas fa-wrench"></i></td>
                          <td>Installing the water faucet <a href="">#331</a></td>
                          <td>03:30</td>
                          <td>Industra</td>
                          <td>#331</td>

                          <td><div class="badge badge-primary">done</div><div class="badge badge-danger">wip</div><div class="badge badge-warning">waits</div><div class="badge badge-dark">private</div></td>
                          <td>Location</td>
                          <td><i class="fas fa-paperclip"></i> <i class="fas fa-info-circle"></i></td>
                        </tr>
                        <tr>
                          <td>02</td>
                          <td><i class="fas fa-handshake"></i></td>
                          <td>Meet <a href="">@Gerhard Boben</a> from <a href="">@BBC</a>. Add location, details, files</td>
                          <td>02:30</td>
                          <td>Industra</td>
                          <td>#331</td>

                          <td>
                            <div class="badge badge-primary"><i class="fas fa-spinner"></i><span style="display: none">wip</span></div>
                            <div class="badge badge-danger"><i class="fas fa-pause-circle"></i><span style="display: none">waits</span></div>
                            <div class="badge badge-success"><i class="fas fa-check-circle"></i><span style="display: none">done</span></div>
                            <div class="badge badge-dark"><i class="fas fa-lock"></i><span style="display: none">private</span></div>
                            <div class="badge badge-dark"><i class="fas fa-pen"></i><span style="display: none">edited</span></div>
                          </td>
                        </tr>
                        <tr>
                          <td>01</td>
                          <td><i class="fas fa-battery-quarter"></i></td>
                          <td>Ill. Guru meditation</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><div class="badge badge-primary"><i class="fas fa-umbrella-beach"></i></div></td>
                        </tr>
                        <tr>
                          <td>01</td>
                          <td><i class="fas fa-user-clock"></i></td>
                          <td>Barista</td>
                          <td>03:30</td>
                          <td>Industra</td>
                          <td>#331</td>

                          <td><div class="badge badge-primary">done</div><div class="badge badge-danger">wip</div><div class="badge badge-warning">waits</div><div class="badge badge-dark">private</div></td>
                        </tr>
                        {% for date, events in out %}
                        {% for event in events %}

                        <tr>
                          <td>{{ date }}</td>
                          <td><span title="{{ event.created }}">{{ event.hrcreated }}</span></td>
                          <td>{{ event.summary }}</td>
                          <td>{{ event.dtstart }}</td>
                          <td>{{ event.dtend }}</td>
                          <td>{{ event.description }}</td>
                          <td>{{ event.last_modifed }}</td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>



          </div>
{% endblock %}

{% block additionaljs %}
  <script nonce="{{ csp_nonce.script_src }}" src="/assets/node_modules/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
  <script nonce="{{ csp_nonce.script_src }}" src="/assets/node_modules/select2/dist/js/select2.full.min.js"></script>
  <script nonce="{{ csp_nonce.script_src }}" type="text/javascript">
  $(function() {
    $('.mask_date').mask('0000-00-00');
    $('.mask_time').mask('00:00');
    $('.select2').select2();
  });

  $(document).ready(function(){
    $("button").click(function(){
      $("p").hide(1000);
    });
  });


  $("#worklog_work_form").ajaxSubmit({
    data: function() {
      return $(this).serialize();
    },
    success: function(res) {
        //console.log(res);
        location.reload();
    },
    error: function(res) {
        console.log(res);
        //$("div.twigjs").each(function() {
        //  console.log(res);
          //var idhold = $(this).attr("id");
          //var idtwig = $(this).attr("id").slice(0, -12) + '_twig';
          //$("#" + idhold).html(
          //  Twig.twig({ ref: idtwig }).render({ validation_errors: res.messages.validation_error, validation_reseed: res.messages.validation_reseed })
          //);
        //});
    }
  });
  </script>   

{% endblock %}
