{% verbatim %}
<script type="text/twig" id="fin_costs_new_form_twig">

<form action="{{ form_url }}" method="post" autocomplete="off" id="{{ fin_costs_id }}_form" enctype="multipart/form-data">

<div class="card card-primary">
<div class="card-header">
<h4>Basic accounting</h4>
</div>
<div class="card-body p-0">

  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Offset* <a href="#" data-toggle="modal" data-id="" data-uri="" data-name="" data-domain="" data-driver="" data-target="#contacts_items_create_modal"><i class="far fa-plus-square text-dark"></i></a></label>
      <div class="input-group">
        <input type="text" class="form-control" name="offset" required placeholder="Person / Organization" id="{{ fin_costs_id }}_form_offset_name">
      </div>
    </div>
    <div class="form-group col-md-3">
      <label>Reference*</label>
      <div class="input-group">
        <input type="text" class="form-control" name="reference" required placeholder="Invoice #" id="{{ fin_costs_id }}_form_reference">
      </div>
    </div>
    <div class="form-group col-md-3">
      <label>Date issued*</label>
      <div class="input-group">
        <input type="text" class="form-control datepicker" name="date_issued" required placeholder="RRRR-MM-DD" id="{{ fin_costs_id }}_form_date_issued">
      </div>
    </div>  
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label>Volume excl. VAT</label>
      <div class="input-group">
        <input type="text" class="form-control" name="volume_exvat" required placeholder="12345.67" id="{{ fin_costs_id }}_form_volume_exvat">
      </div>
    </div>
    <div class="form-group col-md-3">
      <label>Volume incl. VAT</label>
      <div class="input-group">
        <input type="text" class="form-control" name="volume_invat" required placeholder="12345.67" id="{{ fin_costs_id }}_form_volume_invat">
      </div>
    </div>
    <div class="form-group col-md-3">
      <label>Currency</label>
      <select class="form-control select2 currency_select2" name="currency" data-preset="CZK" required style="width: 100%" id="{{ fin_costs_id }}_form_currency">
        {% endverbatim %}
        {% for cur in currencies %}
        <option value="{{ cur.alpha3 }}">{{ cur.alpha3 }}</option>
        {% endfor %}
        {% verbatim %}
      </select>
    </div>
    <div class="form-group col-md-3">
      <label>Date due*</label>
      <div class="input-group">
        <input type="text" class="form-control datepicker" name="date_due" required placeholder="RRRR-MM-DD" id="{{ fin_costs_id }}_form_date_due">
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-9">
      <label>Posted</label>
      <div class="selectgroup selectgroup-pills">
        <label class="selectgroup-item">
          <input type="radio" name="posted_vat" value="1" class="selectgroup-input" checked="">
          <span class="selectgroup-button selectgroup-button-icon">with VAT</span>
        </label>
        <label class="selectgroup-item">
          <input type="radio" name="posted_vat" value="0" class="selectgroup-input">
          <span class="selectgroup-button selectgroup-button-icon">without VAT</span>
        </label>
      </div>
    </div>
    <div class="form-group col-md-3">
      <label>Date paid*</label>
      <div class="input-group">
        <input type="text" class="form-control datepicker" name="date_paid" required placeholder="RRRR-MM-DD" id="{{ fin_costs_id }}_form_date_paid">
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Project* <a href="#"><i class="far fa-plus-square text-dark"></i></a></label>
      <div class="input-group">
        <input type="text" class="form-control" name="project" required placeholder="Name Surname, (Organization)" id="{{ fin_costs_id }}_form_project_name">
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Internal comment</label>
      <div class="input-group">
        <input type="text" class="form-control" name="comment" id="{{ fin_costs_id }}_form_comment">
      </div>
    </div>   
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>You can attach some files too</label>
      <div class="input-group">
        <input type="file" id="ajax-file" class="form-control" name="file[]" multiple>
      </div>
    </div>
  </div>
  
  
</div>
</div>

<div class="card card-secondary">
<div class="card-header">
<h4>Cost types and analytics</h4>
<button type="button" class="btn btn-warning mt-1" id="costBlockDel">-</button>
<button type="button" class="btn btn-success mt-1" id="costBlockAdd">+</button>
<span style="padding-left: 2em">Unallocated: 3233.22</span>
</div>
<div class="card-body p-0">

  <div class="form-row costBlock" id="costBlockNr1">
    <div class="form-group col-md-3">
      <label>Volume excl. VAT</label>
      <div class="input-group">
        <input type="text" class="form-control" name="cost_types[1][volume_exvat]" placeholder="12345.67" id="polozka_volume_1">
      </div>
    </div>
    <div class="form-group col-md-9">
      <label>Cost type</label>
      <select class="form-control select2 cost_type_select2" name="cost_types[1][type]" data-preset="501" style="width: 100%" id="polozka_type_1">
        {% endverbatim %}
        {% for k, v in cost_types %}
        <option value="{{ k }}">{{ k }} {{ v }}</option>
        {% endfor %}
        {% verbatim %}
      </select>
    </div>
  </div>
  
</div>
</div>

<div class="card card-secondary">
<div class="card-header">
<h4>Order allocation</h4>
<button type="button" class="btn btn-warning mt-1" id="orderBlockDel">-</button>
<button type="button" class="btn btn-success mt-1" id="orderBlockAdd">+</button>
<span style="padding-left: 2em">Unallocated: 3233.22</span>
</div>
<div class="card-body p-0">
    
  <div class="form-row orderBlock" id="orderBlockNr1">
    <div class="form-group col-md-3">
      <label>Volume</label>
      <div class="input-group">
        <input type="text" class="form-control" name="allocations[1][volume_exvat]" placeholder="12345.67" id="polozka_order_volume_1">
      </div>
    </div>  
    <div class="form-group col-md-3">
      <label>Percentage</label>
      <div class="input-group">
        <input type="text" class="form-control" name="allocations[1][volume_exvat_percent]" placeholder="12345.67" id="polozka_percentage_1">
      </div>
    </div>  
    <div class="form-group col-md-6">
      <label>Order* <a href="#"><i class="far fa-plus-square text-dark"></i></a></label>
      <div class="input-group">
        <input type="text" class="form-control" name="allocations[1][order]" placeholder="Name Surname, (Organization)" id="polozka_order_1">
      </div>
    </div>
  </div>
  
</div>
</div>



  </div>
    <button type="submit" id="fin_costs_create_form_submit" class="btn btn-primary">Save</button>
  </div>
</form>

</script>
{% endverbatim %}


{% include '/Contacts/Views/Partials/contacts_items_modal.twig' with {'contacts_items_id': 'contacts_items_create'} %}
