{% extends '/Core/Views/templates/default.twig' %}

{% block content %}

<div class="section-header">
  <h1>{{ __('Detail of google object') }} {{ data.name }} #{{row.id}}</h1>
  <a class="btn btn-primary" style="margin-left: 10em;" href="{{ url_for('integrations.google.list') }}">back</a>
</div>

<div class="section-body">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
            <h4>{{ __('Basic data') }}</h4>
            <div>{{ __('ID') }}: {{ row.id }}</div>
            <div>{{ __('URI') }}: {{ row.uri }}</div>
            <div>{{ __('Spreadsheet ID') }}: {{ row.spreadsheetId }}</div>
            <div>{{ __('Sheet ID') }}: {{ row.sheetId }}</div>
            <div>{{ __('Sheet Title') }}: {{ row.sheetTitle }}</div>
            <div>{{ __('Progress') }}: {{ row.progress }}</div>
            
            <h4>{{ __('Functions') }}</h4>
            {% for key, groups in actions %}
            <div><strong>group: {{ key }}</strong></div>
                {% for fce in groups %}
                <div>function: {{ fce.function }}, meta: {{ fce.meta }}, data: {{ fce.data }}, fuid: {{ fce.fuid }}</div>
                {% endfor %}
            {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
            {% if row.progress < 15 %}
            <h4>{{ __('Next step') }}</h4>
            <form action="{{ url_for('integrations.google.next.api01', { 'uid': row.id }) }}" method="post">
                <p>{{ next.description | raw }}</p>
                <div>{{ next.inputs | raw }}</div>
                <div><button type="submit" class="btn btn-success">{{ next.submit }}</button></div>
            </form>
            {% endif %}
            {% if row.progress == 10 %}
            <form action="{{ url_for('integrations.google.next.api01', { 'uid': row.id }) }}" method="post">
                <p>{{ __('or you can finalise process') }}</p>
                <div><button type="submit" name="finalise" class="btn btn-success">{{ __('Finalise') }}</button></div>
            </form>
            {% endif %}
            {% if row.progress == 15 %}
                <h4>{{ __('All steps completed') }}</h4>
                <p>{{ __('now you can do big group actions') }}</p>
                {% for key in groups %}
                <div style="margin: 20px 0;">
                <form action="{{ url_for('integrations.google.action.api01', { 'uid': row.id }) }}" method="post">
                <input type="hidden" name="group_key" value="{{ key }}" />
                <button type="submit" class="btn btn-success">{{ __('run group of functions') }}: {{ key }}</button>
                </form>
                </div>
                {% endfor %}
            {% endif %}
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
        {% include '/Core/Views/templates/partials/flash.twig' %}
      <div id="rjsf"></div>
    </div>
  </div>
</div>


{% endblock %}

