<div class="modal fade" tabindex="-1" role="dialog" id="storFileUpload" data-backdrop="false">
  <div class="modal-dialog modal-lg" role="document">
    <form id="storFileUploadForm" action="" method="post" enctype="multipart/form-data">
      <input type="hidden" name="upload_type" value="general">
      <input type="hidden" name="actual_dir" id="cil_hidden_dir" value="">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row"> 
           <div class="form-group col-md-6">
            <h3>{{ __('Stor File Upload') }}</h3>
          </div>
          <div class="form-group col-md-6">
            <label>{{ __('For module and ID') }}</label>
            <div class="input-group">
              <span id="for_module"></span> / <span id="for_id"></span>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>{{ __('Select file') }}*</label>
            <input type="file" id="ajax-file" class="form-control" name="file[]" multiple required>
          </div>
          <div id="error_file_upload_message"></div>
        </div>
      </div>
      <div class="modal-footer bg-whitesmoke br">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ __('Close' ) }}</button>
        <button type="button" id="ajax-upload" class="btn btn-primary" data-freload="">{{ __('Ajax Upload file' ) }}</button>
      </div>
    </div>
  </form>
</div>
</div>

