{% extends '/Core/Views/templates/default.twig' %}

{% block content %}
        <section class="section">
          <div class="section-header">
            <h1>{{ __('Hello, dear') }} {{ name | default(__('Anonymous')) }}</h1>
          </div>

          <div class="section-body">
            {{ __('Let\'s stick together.') }}
            <form id="spider_browse_fetch" onsubmit="changeUri()">
                <input type="text" name="uri">
                <input type="submit" value="Fetch">
            </form>
            <br />
            uri: <a href="{{ uri }}">{{ uri }}</a> <br />
            uri valid: {{ validate }} <br />
            <img width="300" src="{{ screenshot }}">
          </div>

<script nonce="{{ csp_nonce.script_src }}">
function changeUri(){
    var action_src = 'http://10.146.149.29/spider/browse/' . document.getElementsByName("uri")[0].value;
    var spider_browse_fetch = document.getElementById('spider_browse_fetch');
    spider_browse_fetch.action = action_src ;
}
</script>

<!-- https://stackoverflow.com/questions/34128361/appending-form-input-value-to-action-url-as-path -->


        </section>
{% endblock %}
