{% extends '/Core/Views/templates/default.twig' %}

{% block content %}
<div class="section-header">
  <h1>{{ __('Contacts') }}</h1><button type="button" class="btn btn-primary" style="margin-left: 1em;" data-toggle="modal" data-target="#newContact">{{ __('New contact') }}</button>
</div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-striped" id="log">
              <thead>
                <tr>
                  <th class="col-sm-1">{{ __('Finished at') }}</th>
                  <th class="col-sm-1">{{ __('Type') }}</th>
                  <th class="col-sm-3">{{ __('Summary') }}</th>
                  <th class="col-sm-1">{{ __('Duration') }}</th>
                  <th class="col-sm-1">{{ __('Team') }}</th>
                  <th class="col-sm-1">{{ __('Project') }}</th>
                  <th class="col-sm-2">{{ __('Status') }}</th>
                  <th class="col-sm-1">{{ __('Location') }}</th>
                  <th class="col-sm-1">{{ __('Details') }}</th>
                </tr>
              </thead>
              <tbody id="contacts_rows_placeholder">
                {% verbatim %}
                <script type="text/twig" id="contacts_row_add">
                <tr>
                <td class="col-sm-1"><b>{{ row.date | slice(2) | replace({'-': ''}) }}{{ "@" ~ row.finished }}</b></td>
                <td class="col-sm-1">
                {% if row._s == 'contacts/work' %}<i class="fas fa-wrench"></i>{% endif %}
                {% if row._s == 'contacts/away' %}<i class="fas fa-battery-quarter"></i>{% endif %}
                {% if row._s == 'contacts/shift' %}<i class="fas fa-user-clock"></i>{% endif %}
                {% if row._s == 'contacts/negotiation' %}<i class="fas fa-handshake"></i>{% endif %}
                </td>
                <td>{{ row.summary }}</td>
                <td class="col-sm-1">{{ row.time }}</td>
                <td>{{ row.domain }}</td>
                <td>{{ row.project | default('') }}</td>
                <td>
                {% if row.status == 'done' %}<div class="badge badge-success"><i class="fas fa-check-circle"></i><span style="display: none">done</span></div>{% endif %}
                {% if row.status == 'in-progress' %}<div class="badge badge-primary"><i class="fas fa-spinner"></i><span style="display: none">wip</span></div>{% endif %}
                {% if row.status == 'waits' %}<div class="badge badge-danger"><i class="fas fa-pause-circle"></i><span style="display: none">waits</span></div>{% endif %}
                {% if row.private == true %}<div class="badge badge-dark"><i class="fas fa-lock"></i><span style="display: none">private</span></div>{% endif %}
                </td>
                <td>{{ row.location | default('') }}</td>
                <td>{{ row.details | default('') }}</td>
                </tr>
                </script>
                <script type="text/twig" id="contacts_rows_twig">
                {% for row in work %}
                {% include "contacts_row_add" %}
                {% endfor %}
                </script>
                {% endverbatim %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="newContact">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="rjsf"></div>
      </div>
      <div class="modal-footer bg-whitesmoke br">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block additionaljs %}
<script nonce="{{ csp_nonce.script_src }}" type="text/javascript">
  // Set up form elements
  $(function() {
    $('.mask_date').mask('0000-00-00');
    $('.mask_time').mask('00:00');
    $('.select2').select2();
  });

  // Compile twig.js templates
  $("script[type='text/twig']").each(function() {
    var id = $(this).attr("id"),
    data = $(this).text();
    Twig.twig({ id: id, data: data, allowInlineIncludes: true });
  });

  // Onload ajax to fetch contacts data
  $( document ).ready(function() {
    var api_url = '{{ url_for('contacts.collection.api01') }}'
    $.ajax({
      url: api_url,
      contentType: "application/json",
      dataType: 'json',
      success: function(res){
        console.log(res);
        var idhold = 'contacts_rows_placeholder';
        var idtwig = 'contacts_rows_twig';
        $("#" + idhold).append(
          Twig.twig({ ref: idtwig }).render({ work: res.data })
          )
      }
    })
  });

  // Post (new) data, modify current page
  $("#contacts_work_form").ajaxSubmit({
    data: function() {
      return $(this).serialize();
    },
    success: function(res) {
      var idtwig = 'contacts_row_add';
      $(Twig.twig({ ref: 'contacts_row_add' }).render({ row: res.data })).prependTo("#log > tbody");
    },
    error: function(res) {
      console.log(res);
    }
  });
</script>
{% endblock %}
