{% extends '/Core/Views/templates/default.twig' %}

{% block content %}
<div class="section-header">
  <h1>{{ __('Contacts') }}</h1>
</div>

<div class="section-body">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-pills" id="contacts-pills" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="contacts-work" data-toggle="tab" href="#contacts-work-div" role="tab" aria-controls="work" aria-selected="true"><i class="fas fa-wrench"></i> {{ __('Work') }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contacts-shift" data-toggle="tab" href="#contacts-shift-div" role="tab" aria-controls="shift" aria-selected="false"><i class="fas fa-user-clock"></i> {{ __('Shift') }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contacts-negotiation" data-toggle="tab" href="#contacts-negotiation-div" role="tab" aria-controls="negotiation" aria-selected="false"><i class="fas fa-handshake"></i> {{ __('Negotiation') }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contacts-away" data-toggle="tab" href="#contacts-away-div" role="tab" aria-controls="away" aria-selected="false"><i class="fas fa-battery-quarter"></i> {{ __('Away / sick') }}</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="contacts-forms">
            <div class="tab-pane fade show active" id="contacts-work-div" role="tabpanel" aria-labelledby="contacts-work">
              <form action="{{ url_for('contacts.collection.api01') }}" method="post" autocomplete="off" id="contacts_work_form">
                {# include '/contacts/Views/i-work.twig' #}
              </form>
            </div>
            <div class="tab-pane fade" id="contacts-shift-div" role="tabpanel" aria-labelledby="contacts-shift">
              {# {% include '/contacts/Views/i-shift.twig' %} #}
              {{ __('Disabled') }}
            </div>
            <div class="tab-pane fade" id="contacts-negotiation-div" role="tabpanel" aria-labelledby="contacts-negotiation">
              {# {% include '/contacts/Views/i-negotiate.twig' %} #}
              {{ __('Disabled') }}
            </div>
            <div class="tab-pane fade" id="contacts-away-div" role="tabpanel" aria-labelledby="contacts-away">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-striped" id="log">
              <thead>
                <tr>
                  <th class="col-sm-1">{{ __('Finished at') }}</th>
                  <th class="col-sm-1">{{ __('Type') }}</th>
                  <th class="col-sm-3">{{ __('Summary') }}</th>
                  <th class="col-sm-1">{{ __('Duration') }}</th>
                  <th class="col-sm-1">{{ __('Team') }}</th>
                  <th class="col-sm-1">{{ __('Project') }}</th>
                  <th class="col-sm-2">{{ __('Status') }}</th>
                  <th class="col-sm-1">{{ __('Location') }}</th>
                  <th class="col-sm-1">{{ __('Details') }}</th>
                </tr>
              </thead>
              <tbody id="contacts_rows_placeholder">
                {% verbatim %}
                <script type="text/twig" id="contacts_row_add">
                <tr>
                <td class="col-sm-1"><b>{{ row.date | slice(2) | replace({'-': ''}) }}{{ "@" ~ row.finished }}</b></td>
                <td class="col-sm-1">
                {% if row._s == 'contacts/work' %}<i class="fas fa-wrench"></i>{% endif %}
                {% if row._s == 'contacts/away' %}<i class="fas fa-battery-quarter"></i>{% endif %}
                {% if row._s == 'contacts/shift' %}<i class="fas fa-user-clock"></i>{% endif %}
                {% if row._s == 'contacts/negotiation' %}<i class="fas fa-handshake"></i>{% endif %}
                </td>
                <td>{{ row.summary }}</td>
                <td class="col-sm-1">{{ row.time }}</td>
                <td>{{ row.domain }}</td>
                <td>{{ row.project | default('') }}</td>
                <td>
                {% if row.status == 'done' %}<div class="badge badge-success"><i class="fas fa-check-circle"></i><span style="display: none">done</span></div>{% endif %}
                {% if row.status == 'in-progress' %}<div class="badge badge-primary"><i class="fas fa-spinner"></i><span style="display: none">wip</span></div>{% endif %}
                {% if row.status == 'waits' %}<div class="badge badge-danger"><i class="fas fa-pause-circle"></i><span style="display: none">waits</span></div>{% endif %}
                {% if row.private == true %}<div class="badge badge-dark"><i class="fas fa-lock"></i><span style="display: none">private</span></div>{% endif %}
                </td>
                <td>{{ row.location | default('') }}</td>
                <td>{{ row.details | default('') }}</td>
                </tr>
                </script>
                <script type="text/twig" id="contacts_rows_twig">
                {% for row in work %}
                {% include "contacts_row_add" %}
                {% endfor %}
                </script>
                {% endverbatim %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block additionaljs %}
<script nonce="{{ csp_nonce.script_src }}" type="text/javascript">
  // Set up form elements
  $(function() {
    $('.mask_date').mask('0000-00-00');
    $('.mask_time').mask('00:00');
    $('.select2').select2();
  });

  // Compile twig.js templates
  $("script[type='text/twig']").each(function() {
    var id = $(this).attr("id"),
    data = $(this).text();
    Twig.twig({ id: id, data: data, allowInlineIncludes: true });
  });

  // Onload ajax to fetch contacts data
  $( document ).ready(function() {
    var api_url = '{{ url_for('contacts.collection.api01') }}'
    $.ajax({
      url: api_url,
      contentType: "application/json",
      dataType: 'json',
      success: function(res){
        console.log(res);
        var idhold = 'contacts_rows_placeholder';
        var idtwig = 'contacts_rows_twig';
        $("#" + idhold).append(
          Twig.twig({ ref: idtwig }).render({ work: res.data })
          )
      }
    })
  });

  // Post (new) data, modify current page
  $("#contacts_work_form").ajaxSubmit({
    data: function() {
      return $(this).serialize();
    },
    success: function(res) {
      var idtwig = 'contacts_row_add';
      $(Twig.twig({ ref: 'contacts_row_add' }).render({ row: res.data })).prependTo("#log > tbody");
    },
    error: function(res) {
      console.log(res);
    }
  });
</script>
{% endblock %}
