{% extends '/Core/Views/templates/default.twig' %}

{% block content %}

<div class="section-header">
  <h1>{{ __('Contacts') }}</h1><button type="button" class="btn btn-primary" style="margin-left: 1em;" data-toggle="modal" data-id="" data-uri="" data-name="" data-domain="" data-driver="" data-target="#contacts_items_create_modal">{{ __('New company') }}</button>
</div>

<div class="section-body">


  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-striped" id="contacts_items">
              <thead>
                <tr>
                  <th class="col-sm-2">{{ __('Name') }}</th>
                  <th class="col-sm-3">{{ __('Address') }}</th>
                  <th class="col-sm-1">{{ __('RegID') }}</th>
                  <th class="col-sm-1">{{ __('VATID') }}</th>
                  <th class="col-sm-2">{{ __('E-mail') }}</th>
                  <th class="col-sm-1">{{ __('Phone') }}</th>
                  <th class="col-sm-1">{{ __('Tags') }}</th>
                  <th class="col-sm-1">{{ __('Manage') }}</th>
                </tr>
              </thead>
              <tbody id="contacts_items_placeholder">
                {% verbatim %}
                <script type="text/twig" id="contacts_items_obj_twig">
                <tr id="contacts_items_object_{{ row.id }}">
                  <td class="col-sm-2" style="z-index: 1;">{{ row.fn }}{% if row.uri.0.value %}<a href="{{ row.uri.0.value }}" style="z-index: 2; position: relative;"><i class="fas fa-link"></i></a>{% endif %}{% if row.context.bday %}<i class="fas fa-birthday-cake" style="color: red;"></i>{% endif %}<a href="{% endverbatim %}{{ url_for('contacts.collection') }}{% verbatim %}/{{ row.id }}" class="stretched-link"></a></td>
                  <td class="col-sm-3">{{ row.addr.0.full | default(row.addr.0.unstructured) }}<a href="{% endverbatim %}{{ url_for('contacts.collection') }}{% verbatim %}/{{ row.id }}" class="stretched-link"></a></td>
                  <td class="col-sm-1">{{ row.nat.0.regid | default('') }}<a href="{% endverbatim %}{{ url_for('contacts.collection') }}{% verbatim %}/{{ row.id }}" class="stretched-link"></a></td>
                  <td class="col-sm-1">{{ row.nat.0.vatid | default('') }}<a href="{% endverbatim %}{{ url_for('contacts.collection') }}{% verbatim %}/{{ row.id }}" class="stretched-link"></a></td>
                  <td class="col-sm-2">{{ row.email.0.value | default('') }}<a href="{% endverbatim %}{{ url_for('contacts.collection') }}{% verbatim %}/{{ row.id }}" class="stretched-link"></a></td>
                  <td class="col-sm-1">{{ row.phone.0.value | default('') }}<a href="{% endverbatim %}{{ url_for('contacts.collection') }}{% verbatim %}/{{ row.id }}" class="stretched-link"></a></td>
                  <td class="col-sm-1">{{ row.tags | default('') }}<a href="{% endverbatim %}{{ url_for('contacts.collection') }}{% verbatim %}/{{ row.id }}" class="stretched-link"></a></td>
                  <td class="col-sm-1">
                    <button type="button" class="btn btn-icon btn-sm" data-toggle="modal" data-target="#contacts_items_update_modal" data-id="{{ row.id }}" data-uri="{{ row.uri }}" data-name="{{ row.name }}" data-domain="{{ row.domain }}" data-driver="{{ row.driver }}"><i class="fas fa-edit"></i></button><button type="button" class="btn btn-icon btn-sm" data-toggle="modal" data-target="#contacts_items_delete_modal" data-id="{{ row.id }}" data-uri="{{ row.uri }}" data-name="{{ row.name }}"><i class="fas fa-trash"></i></button>
                  </td>
                </tr>
                </script>
                <script type="text/twig" id="contacts_items_col_twig">
                {% for row in data %}
                {% include "contacts_items_obj_twig" %}
                {% endfor %}
                </script>
                {% endverbatim %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
{% include '/Contacts/Views/Partials/contacts_items_modal.twig' with {'contacts_items_id': 'contacts_items_create'} %}
{% include '/Contacts/Views/Partials/contacts_items_modal.twig' with {'contacts_items_id': 'contacts_items_update'} %}
{# {% include '/Contacts/Views/Partials/contacts_items_delete_modal.twig' with {'contacts_items_id': 'contacts_items_delete'} %} #}
{% endblock %}

{% block additionaljs %}
<script nonce="{{ csp_nonce.script_src }}" type="text/javascript">

  //
  // Onload ajax to fetch calendar data
  // 
  $( document ).ready(function() {
    $.ajax({
      url: "{{ url_for('contacts.items.api01') }}",
      contentType: "application/json",
      dataType: 'json',
      success: function(res) {
        $("#contacts_items_placeholder").append(Twig.twig({ ref: "contacts_items_col_twig" }).render({ data: res.data }))
      }
    })
  });
  
  //
  // Create + Update + Delete modals
  // 
  $('#contacts_items_update_modal').on('show.bs.modal', function (event) {
    var modal = $(this)
    var e = $(event.relatedTarget) // event which triggered the modal
    modal.find('.modal-title').text('{{ __("Edit contact") }} ' + e.data('id'));
    modal.find('.modal-dialog form').attr('action', '{{ url_for("contacts.items.api01") }}/' + e.data('id') );
    modal.find('.modal-body input[name="name"]').val(e.data('name'));
    modal.find('.modal-body input[name="uri"]').val(e.data('uri'));
  });

  $('#contacts_items_create_modal').on('show.bs.modal', function (event) {
    var modal = $(this)
    var e = $(event.relatedTarget) // event which triggered the modal
    modal.find('.modal-title').text('{{ __("New contact") }}');
  });

  $('#contacts_items_delete_modal').on('show.bs.modal', function (event) {
    var modal = $(this)
    var e = $(event.relatedTarget) // event which triggered the modal
    modal.find('.modal-title').text('{{ __("Delete contact") }} ' + e.data('id'));
    modal.find('.modal-dialog form').attr('action', '{{ url_for("contacts.items.api01") }}/' + e.data('id') );
    modal.find('.modal-body').text('{{ __("Do you really want to delete the contact:") }} ' + e.data('name') + ' (' + e.data('uri') + ')?');
  });

  //
  // Create handle
  // 
  $("#contacts_items_create_form").ajaxSubmit({
    data: function() {
      return $(this).serialize();
    },
    success: function(res) {
      var idtwig = 'contacts_items_obj_twig';
      $('#toast-placeholder').empty();
      $(Twig.twig({ ref: 'contacts_items_obj_twig' }).render({ row: res.data })).prependTo("#contacts_items > tbody");
      $(Twig.twig({ ref: 'toasts' }).render({ title: '{{ __("Contact items") }}' , msg: '{{ __("New entry saved.") }}' })).appendTo("#toast-placeholder");
      $('.toast').toast('show');
      $('#contacts_items_create_modal').modal('toggle');
    },
    error: function(res) {
      $('#toast-placeholder').empty();
      $(Twig.twig({ ref: 'toasts' }).render({ title: '{{ __("Contact items") }}' , msg: '{{ __("Error: ") }}' + res.status })).appendTo("#toast-placeholder");
      $('.toast').toast('show');
    }
  });


  //
  // Update handle
  // 
  $("#contacts_items_update_form").ajaxSubmit({
    data: function() {
      return $(this).serialize();
    },
    headers: {
      "X-Http-Method-Override": "PATCH"
    },
    success: function(res) {
      $('#toast-placeholder').empty();
      $(Twig.twig({ ref: 'toasts' }).render({ title: '{{ __("Contact item") }}' , msg: '{{ __("Saved.") }}' })).appendTo("#toast-placeholder");
      $('.toast').toast('show');
      $('#contacts_items_update_modal').modal('toggle');
      $('#contacts_items_placeholder').empty();
      $.ajax({
        url: "{{ url_for('contacts.items.api01') }}",
        contentType: "application/json",
        dataType: 'json',
        success: function(res) {
          $("#contacts_items_placeholder").append(Twig.twig({ ref: "contacts_items_col_twig" }).render({ data: res.data }))
        }
      })
    },
    error: function(res) {
      $('#toast-placeholder').empty();
      $(Twig.twig({ ref: 'toasts' }).render({ title: '{{ __("Contact items") }}' , msg: '{{ __("Error: ") }}' + res.error.message })).appendTo("#toast-placeholder");
      $('.toast').toast('show');
    }
  });

  //
  // Delete handle
  // 
  $("#contacts_items_delete_form").ajaxSubmit({
    data: function() {
      return $(this).serialize();
    },
    headers: {
      "X-Http-Method-Override": "DELETE"
    },
    success: function(res) {
      var idtwig = 'contacts_items_obj_twig';
      $('#toast-placeholder').empty();
      $('#contacts_items > tbody > #contacts_items_object_' + res.data.id).remove();
      $('#contacts_items_delete_modal').modal('toggle'); 
      $(Twig.twig({ ref: 'toasts' }).render({ title: '{{ __("Contact items") }}' , msg: '{{ __("Removed contact ") }}' + res.data.id + '.' })).appendTo("#toast-placeholder");
      $('.toast').toast('show');
    },
    error: function(res) {
      $('#toast-placeholder').empty();
      $(Twig.twig({ ref: 'toasts' }).render({ title: '{{ __("Contact items") }}' , msg: '{{ __("Error: ") }}' + res.status })).appendTo("#toast-placeholder");
      $('.toast').toast('show');
    }
  });
  </script>

  {# TODO ok, icnluding the hardcoded file here into the addtionaljs is ugly. we should somehow extend the additionaljs block #}
  {% include '/Contacts/Views/Partials/contacts_items_modal_js.twig' %}

  {% endblock %}



