{% extends '/Core/Views/templates/default.twig' %}

{% block content %}

<div class="section-header">
  <h1>{{ fn }}</h1><a href="{{ url_for('contacts.collection') }}"><button type="button" class="btn btn-primary" style="margin-left: 1em;"><i class="fas fa-level-up-alt"></i></button></a>
</div>

<div class="section-body">


  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-sm table-bordered">
                <tr><td class="col-sm-2">{{ __('Full name') }}</td><td><b>{{ data.fn }}</b></td></tr>
                <tr><td class="col-sm-2">{{ __('Contact ID') }}</td><td><b>{{ data.id }}</b></td></tr>
                <tr><td class="col-sm-2">{{ __('Banking') }}</td><td><b>
                {% for a in data.acc %}
                <span title="iban: {{ a.account_iban }}">{{ a.account_number }} / {{ a.bank_code }}</span><br>
                {% endfor %}
                </b></td></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
{% endblock %}