{% extends '/Core/Views/templates/default.twig' %}

{% block content %}
        <section class="section">
          <div class="section-header">
            <h1>Hello, dear {{ name | default('Anonymous') }}</h1>
          </div>

          <div class="section-body">
          <div>Impersonate <a href="/tutorial/home/Slim Shady">Slim Shady</a>, or become <a href="/tutorial/home">Anonymous</a></div>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Result</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><code>url_for('tutorial/home', {'name': 'foo'})</code></td>
                <td>{{ url_for('tutorial/home', {'name': 'foo'}) }}</td>
            </tr>
            <tr>
                <td><code>full_url_for('tutorial/home')</code></td>
                <td>{{ full_url_for('tutorial/home') }}</td>
            </tr>
            <tr>
                <td><code>is_current_url('tutorial/home')</code></td>
                <td>{{ is_current_url('tutorial/home') ? 'TRUE' : 'FALSE' }}</td>
            </tr>
            <tr>
                <td><code>current_url()</code></td>
                <td>{{ current_url() }}</td>
            </tr>
            <tr>
                <td><code>get_uri().scheme</code></td>
                <td>{{ get_uri().scheme }}</td>
            </tr>
            </tbody>
        </table>
    </div>


          </div>
        </section>
{% endblock %}
