{% extends '/Core/Views/templates/default.twig' %}

{% block content %}

<div class="section-header">
  <h1>{{ __('Costs') }}</h1><button type="button" class="btn btn-primary" style="margin-left: 1em;" id="new_form_button">{{ __('New Cost') }}</button>
</div>

<div class="section-body">


  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-hover" id="fin_costs">
              <thead>
                <tr>
                  <th class="col-auto">{{ __('ID') }}</th>
                  <th class="col-2">{{ __('Offset') }}</th>
                  <th class="col-1">{{ __('Reference') }}</th>
                  <th class="col-auto">{{ __('Date') }}</th>
                  <th class="col-1 text-right">{{ __('Volume Ex.') }}</th>
                  <th class="col-1 text-right">{{ __('Volume In.') }}</th>
                  <th class="">{{ __('Manage') }}</th>
                </tr>
              </thead>
              <tbody id="fin_costs_placeholder">

                {% verbatim %}
                <script type="text/twig" id="fin_costs_obj_twig">
                <tr id="fin_costs_object_{{ row.id }}">
                  <td class="align-top" style="border-left: 4px solid {{ row.account_color }};">{{ row.id }}</td>
                  <td class="align-top col-sm-2"><b class="fin_costs_update_activator" data-id="{{ row.id }}">{{ row.offset }}</b></td>
                  <td class="align-top col-sm-1">{{ row.reference }}</td>
                  <td class="align-top" title="{{ row.dt }}"><i class="fas fa-{% if row.type.card %}credit-card{% else %}{%if row.type.fee %}university{% else %}{% if row.type.electronic %}laptop{% else %}wallet{% endif %}{% endif%}{% endif%}" style="padding-right: 0.5em;"></i>{{ row.issue_dt | slice(2, 8) }}</td>
                  <td class="align-top col-sm-1">{{ row.volume_exvat }}&nbsp;<sup>{{ row.currency }}</sup></td>
                  <td class="align-top col-sm-1">{{ row.volume_invat }}&nbsp;<sup>{{ row.currency }}</sup></td>
                  <td class="align-text-top">
                    <div class="custom-control custom-checkbox">
                      <label class="custom-control-label" for="fin_costs_object_check_{{ row.id }}">
                        <a href="#" data-toggle="modal" data-target="#fin_costs_delete_modal" data-id="{{ row.id }}" data-offset="{{ row.offset }}"><i class="far fa-trash-alt text-dark"></i></a>
                      </label>
                    </div>
                      
                  </td>
                </tr>
                </script>
                <script type="text/twig" id="fin_costs_col_twig">
                {% for row in data %}
                {% include "fin_costs_obj_twig" %}
                {% endfor %}
                </script>
                {% endverbatim %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4" id="fin_costs_form_placeholder">
        {% include '/Fin/Views/Partials/fin_costs_form.twig' with {'fin_costs_id': 'fin_costs_create'} %}
        {% include '/Fin/Views/Partials/fin_costs_update_form.twig' with {'fin_costs_id': 'fin_costs_update'} %}
    </div>
  </div>

</div>
{% include '/Fin/Views/Partials/fin_costs_delete_modal.twig' with {'fin_costs_id': 'fin_costs_delete'} %}
{% endblock %}


{% block additionaljs %}
{# twig.js initialized in public/assets/js/glued.js #}
<script nonce="{{ csp_nonce.script_src }}" type="text/javascript">
    
    // initialisation of js elements in form
    function initialise_cost_form() {
        // aktivujeme tam select 2
        $(".currency_select2").val(function( index, value ) {
            return $(this).data('preset');
        }).select2();
        $(".cost_type_select2").val(function( index, value ) {
            return $(this).data('preset');
        }).select2();
        // aktivujeme datepicker
        $('.datepicker').daterangepicker( { locale:{format:'YYYY-MM-DD'}, singleDatePicker: true } );
        
        /* plus a minus buttony */
          // add button for new Cost types
          $("#costBlockAdd").on('click', function(event) {
                // destroujeme select2 s tridou cost_type_select2
                $(".cost_type_select2").select2('destroy');
                // vezmeme posledni element
                var $zdroj = $(".costBlock").last();
                // zjistime jake cislo ma v idecku
                var posledni_id = parseInt($zdroj.prop('id').match(/\d+/g), 10);
                // zvedneme to o 1
                var nove_posledni_id = posledni_id + 1;
                // naklonujem si ten element nejdriv do promenne
                var $klon = $zdroj.clone().prop('id', 'costBlockNr'+nove_posledni_id);
                // provedeme dalsi zmeny uvnitr (vyprazdneni values a zmena indexace)
                $klon.find("#polozka_volume_" + posledni_id).prop('id', 'polozka_volume_' + nove_posledni_id).prop('name', 'cost_types[' + nove_posledni_id + '][volume_exvat]').val('');
                $klon.find("#polozka_type_" + posledni_id).prop('id', 'polozka_type_' + nove_posledni_id).prop('name', 'cost_types[' + nove_posledni_id + '][type]');
                // a konecne to umistime za ten posledni element
                $zdroj.after($klon);
                // znovu aktivujeme select2 na tride cost_type_select2
                $(".cost_type_select2").select2();
          });
            
            // delete button pro new cost types
          $("#costBlockDel").on('click', function(event) {
                // zjistime kolik tam je tech elementu, a pokud je jeden nedelame nic
                var $zdroj = $(".costBlock").last();
                var posledni_id = parseInt($zdroj.prop('id').match(/\d+/g), 10);
                if (posledni_id > 1) {
                    // zrusime posledni element
                    $(".costBlock").last().remove();
                }
          });
            
          // add button for new order types
          $("#orderBlockAdd").on('click', function(event) {
                // vezmeme posledni element
                var $zdroj = $(".orderBlock").last();
                // zjistime jake cislo ma v idecku
                var posledni_id = parseInt($zdroj.prop('id').match(/\d+/g), 10);
                // zvedneme to o 1
                var nove_posledni_id = posledni_id + 1;
                // naklonujem si ten element nejdriv do promenne
                var $klon = $zdroj.clone().prop('id', 'orderBlockNr'+nove_posledni_id);
                // provedeme dalsi zmeny uvnitr (vyprazdneni values a zmena indexace)
                $klon.find("#polozka_order_volume_" + posledni_id).prop('id', 'polozka_order_volume_' + nove_posledni_id).prop('name', 'allocations[' + nove_posledni_id + '][volume_exvat]').val('');
                $klon.find("#polozka_percentage_" + posledni_id).prop('id', 'polozka_percentage_' + nove_posledni_id).prop('name', 'allocations[' + nove_posledni_id + '][volume_exvat_percent]').val('');
                $klon.find("#polozka_order_" + posledni_id).prop('id', 'polozka_order_' + nove_posledni_id).prop('name', 'allocations[' + nove_posledni_id + '][order]').val('');
                // a konecne to umistime za ten posledni element
                $zdroj.after($klon);
          });
            
            // delete button pro new order types
          $("#orderBlockDel").on('click', function(event) {
                // zjistime kolik tam je tech elementu, a pokud je jeden nedelame nic
                var $zdroj = $(".orderBlock").last();
                var posledni_id = parseInt($zdroj.prop('id').match(/\d+/g), 10);
                if (posledni_id > 1) {
                    // zrusime posledni element
                    $(".orderBlock").last().remove();
                }
          });
        
        // aktivujeme reakci na submit formu, bud create nebo update (a delete v modalu)
        // podle toho ktery form tam bude
        initialise_create_update_delete_handle();
        
    }
    
    
    // insert empty form to page and initialise it
    $("#fin_costs_form_placeholder").html(Twig.twig({ ref: "fin_costs_new_form_twig" }).render({ form_url: "{{ url_for('fin.costs.api01') }}", fin_costs_id: "fin_costs_create" }));
    initialise_cost_form();
    
    
  //
  // Onload ajax to fetch Cost data
  // 
  $.ajax({
    url: "{{ url_for('fin.costs.api01') }}",
    contentType: "application/json",
    dataType: 'json',
    success: function(res) {
        $( document ).ready(function() {
            $("#fin_costs_placeholder").append(Twig.twig({ ref: "fin_costs_col_twig" }).render({ data: res.data }));
            
            // iniciace tlacitek pro nacteni update formu, pri kliku na offset v tabulce
            $(".fin_costs_update_activator").on('click', function(event) {
                // zavolame ajaxem nacteni dat
                $.ajax({
                    url: "{{ url_for('fin.costs.api01') }}/" + $(this).data('id'),
                    contentType: "application/json",
                    dataType: 'json',
                    success: function(res) {
                        // data dosadime do update formulare
                        $("#fin_costs_form_placeholder").html(Twig.twig({ ref: "fin_costs_update_form_twig" }).render({ row: res.data, form_url: "{{ url_for('fin.costs.api01') }}", fin_costs_id: "fin_costs_update" }));
                        initialise_cost_form();
                        
                    },
                    error: function(res) {
                      $('#toast-placeholder').empty();
                      $(Twig.twig({ ref: 'toasts' }).render({ title: '{{ __("Fin costs") }}' , msg: '{{ __("Error: ") }}' + res.error.message })).appendTo("#toast-placeholder");
                      $('.toast').toast('show');
                    }
                })
            });
            
        })
    }
  });
  
  
  // nastaveni noveho formulare
  $('#new_form_button').on('click', function (){
    $("#fin_costs_form_placeholder").html(Twig.twig({ ref: "fin_costs_new_form_twig" }).render({ form_url: "{{ url_for('fin.costs.api01') }}", fin_costs_id: "fin_costs_create" }));
    initialise_cost_form();
  });
  
  
    
    //
    // reseni odesilani formularu
    // musime to dat do funkce, protoze formulare se budou znova nacitat
    // a tu funkci pote vzdy znovu zavolame
    //
    function initialise_create_update_delete_handle() {
        
        // Create handle, with file upload, post
        $('#fin_costs_create_form #fin_costs_create_form_submit').on('click', function (event) {
              event.preventDefault();
              var formData = new FormData(document.getElementById("fin_costs_create_form"));         // insert complete form into FormData object
              
              $.ajax({
                     url : '{{ url_for("fin.costs.api01") }}',
                     type : 'POST',
                     data : formData,
                     processData: false,  // tell jQuery not to process the data
                     contentType: false,  // tell jQuery not to set contentType
                     success : function(res) {
                          var idtwig = 'fin_costs_obj_twig';
                          $('#toast-placeholder').empty();
                          $(Twig.twig({ ref: 'fin_costs_obj_twig' }).render({ row: res.data })).prependTo("#fin_costs > tbody");
                          $(Twig.twig({ ref: 'toasts' }).render({ title: '{{ __("Fin accounts") }}' , msg: '{{ __("New entry saved.") }}' })).appendTo("#toast-placeholder");
                          $('.toast').toast('show');
                          // nacteme znova prazdny formular
                          $("#fin_costs_form_placeholder").html(Twig.twig({ ref: "fin_costs_new_form_twig" }).render({ form_url: "{{ url_for('fin.costs.api01') }}", fin_costs_id: "fin_costs_create" }));
                          initialise_cost_form();
                     },
                     error: function(res) {
                          $('#toast-placeholder').empty();
                          $(Twig.twig({ ref: 'toasts' }).render({ title: '{{ __("Fin accounts") }}' , msg: '{{ __("Error: ") }}' + res.responseJSON.error.message })).appendTo("#toast-placeholder");
                          $('.toast').toast('show');
                     }
                });
                
        });
        
        
        /*
        $("#fin_costs_create_form").ajaxSubmit({
            data: function() {
              return $(this).serialize();
            },
            success: function(res) {
              var idtwig = 'fin_costs_obj_twig';
              $('#toast-placeholder').empty();
              $(Twig.twig({ ref: 'fin_costs_obj_twig' }).render({ row: res.data })).prependTo("#fin_costs > tbody");
              $(Twig.twig({ ref: 'toasts' }).render({ title: '{{ __("Fin accounts") }}' , msg: '{{ __("New entry saved.") }}' })).appendTo("#toast-placeholder");
              $('.toast').toast('show');
              // nacteme znova prazdny formular
              $("#fin_costs_form_placeholder").html(Twig.twig({ ref: "fin_costs_new_form_twig" }).render({ form_url: "{{ url_for('fin.costs.api01') }}", fin_costs_id: "fin_costs_create" }));
              initialise_cost_form();
            },
            error: function(res) {
              $('#toast-placeholder').empty();
              $(Twig.twig({ ref: 'toasts' }).render({ title: '{{ __("Fin accounts") }}' , msg: '{{ __("Error: ") }}' + res.error.message })).appendTo("#toast-placeholder");
              $('.toast').toast('show');
            }
        });
        */
        
        // Update handle
        $("#fin_costs_update_form").ajaxSubmit({
            data: function() {
              return $(this).serialize();
            },
            headers: {
              "X-Http-Method-Override": "PATCH"
            },
            success: function(res) {
              $('#toast-placeholder').empty();
              $(Twig.twig({ ref: 'toasts' }).render({ title: '{{ __("Fin accounts") }}' , msg: '{{ __("Entry updated.") }}' })).appendTo("#toast-placeholder");
              $('.toast').toast('show');
              
              // nacteme znova prazdny formular
              $("#fin_costs_form_placeholder").html(Twig.twig({ ref: "fin_costs_new_form_twig" }).render({ form_url: "{{ url_for('fin.costs.api01') }}", fin_costs_id: "fin_costs_create" }));
              initialise_cost_form();
              
              // vyprazdnime a znova naplnime tabulku
              $.ajax({
                url: "{{ url_for('fin.costs.api01') }}",
                contentType: "application/json",
                dataType: 'json',
                success: function(res) {
                    // vyprazdnime tabulku
                    $('#fin_costs_placeholder').empty();
                    
                    // naplnime znova komplet celou tabulku
                    $("#fin_costs_placeholder").append(Twig.twig({ ref: "fin_costs_col_twig" }).render({ data: res.data }));
                    
                    // iniciace tlacitek pro nacteni update formu, pri kliku na offset v tabulce
                    $(".fin_costs_update_activator").on('click', function(event) {
                        // zavolame ajaxem nacteni dat
                        $.ajax({
                            url: "{{ url_for('fin.costs.api01') }}/" + $(this).data('id'),
                            contentType: "application/json",
                            dataType: 'json',
                            success: function(res) {
                                // data dosadime do update formulare
                                $("#fin_costs_form_placeholder").html(Twig.twig({ ref: "fin_costs_update_form_twig" }).render({ row: res.data, form_url: "{{ url_for('fin.costs.api01') }}", fin_costs_id: "fin_costs_update" }));
                                initialise_cost_form();
                            },
                            error: function(res) {
                              $('#toast-placeholder').empty();
                              $(Twig.twig({ ref: 'toasts' }).render({ title: '{{ __("Fin costs") }}' , msg: '{{ __("Error: ") }}' + res.error.message })).appendTo("#toast-placeholder");
                              $('.toast').toast('show');
                            }
                        })
                    });
                    
                }
              })
            },
            error: function(res) {
              $('#toast-placeholder').empty();
              $(Twig.twig({ ref: 'toasts' }).render({ title: '{{ __("Fin accounts") }}' , msg: '{{ __("Error: ") }}' + res.error.message })).appendTo("#toast-placeholder");
              $('.toast').toast('show');
            }
        });
        
    }


    //
    // Delete modal, otevreni modalu
    //

    $('#fin_costs_delete_modal').on('show.bs.modal', function (event) {
        var modal = $(this)
        var e = $(event.relatedTarget) // event which triggered the modal
        modal.find('.modal-title').text('{{ __("Delete Cost") }} ' + e.data('id'));
        modal.find('.modal-dialog form').attr('action', '{{ url_for("fin.costs.api01") }}/' + e.data('id') );
        modal.find('.modal-body').text('{{ __("Do you really want to delete the Cost:") }} ' + e.data('offset') + '?');
    });

    //
    // Delete handle (odeslani formu z delete modalu)
    // neni treba reinicializace, protoze delete modal tam furt je
    //
    $("#fin_costs_delete_form").ajaxSubmit({
        data: function() {
          return $(this).serialize();
        },
        headers: {
          "X-Http-Method-Override": "DELETE"
        },
        success: function(res) {
          $('#toast-placeholder').empty();
          // jen smazem z tabulky ten radek. neni treba nic reinicializovat
          $('#fin_costs > tbody > #fin_costs_object_' + res.data.id).remove();
          $('#fin_costs_delete_modal').modal('toggle'); 
          $(Twig.twig({ ref: 'toasts' }).render({ title: '{{ __("Fin costs") }}' , msg: '{{ __("Removed source ") }}' + res.data.id + '.' })).appendTo("#toast-placeholder");
          $('.toast').toast('show');
        },
        error: function(res) {
          $('#toast-placeholder').empty();
          $(Twig.twig({ ref: 'toasts' }).render({ title: '{{ __("Fin costs") }}' , msg: '{{ __("Error: ") }}' + res.error.message })).appendTo("#toast-placeholder");
          $('.toast').toast('show');
        }
    });


  // NOTE: Make sure, that json data uses double quotes, not single quotes
  $('#fin_costs_form_type').change(function() {
    if ($(this).val() !== 'cash') {
      $('#fin_costs_form_currency').attr('disabled', 'disabled');
      if ($(this).val() === 'fio_cz') {
        $('#fin_costs_form_config').removeAttr('disabled').val('{\n  "token": "enter-token-here"\n}');
      }
      else if ($(this).val() === 'transferwise_com') {
        $('#fin_costs_form_config').removeAttr('disabled').val('{\n  "token_full": "enter-token-here",\n  "token_readonly": "enter-token-here",\n  "profile_id_personal": "enter-id-here",\n  "profile_id_business": "enter-id-here",\n  "priv_pem": "enter-private-key-here"\n}"');
      }
      else {
        $('#fin_costs_form_config').removeAttr('disabled').val('');
      }
    } else {
      $('#fin_costs_form_currency').removeAttr('disabled');
      $('#fin_costs_form_config').val('').attr('disabled', 'disabled');
    }
  }).trigger('change');

  </script>
  {% endblock %}
