{% extends '/Core/Views/templates/default.twig' %}

{% block content %}
          <div class="section-header">
            <h1>{{ __('Password reset') }}</h1>
          </div>
          <div class="section-body">
            {% include '/Core/Views/templates/partials/flash.twig' %}
            <div class="card card-primary col-4">

              <form action="{{ url_for('core.auth.update.api') }}" method="post" autocomplete="off" id="core_auth_reset_form">
                <div class="card-header">{{ __('Please fill in your new password') }}.</div>
                  <div class="card-body pb-0">
                        <div class="form-group">
                            <label for="password1">{{ __('Password') }}</label>
                            <input type="password" name="password1" id="password1" placeholder="password" class="form-control{{ validation_errors.password1 ? ' is-invalid' : validation_reseed.password1 ? ' is-valid' : '' }}" value="{{ validation_reseed.password1 }}">
                          </div>
                          <div class="form-group">
                            <label for="password2">{{ __('Password again') }}</label>
                            <input type="password" name="password2" id="password2" placeholder="password" class="form-control{{ validation_errors.password1 ? ' is-invalid' : validation_reseed.password2 ? ' is-valid' : '' }}" value="{{ validation_reseed.password1 }}">
                            <span style='float: right'></span>
                        </div>
                    </div>
                    <div class="card-footer">
                      <input type="hidden" name="redirect" value="{{ redirect }}">
                      <button type="submit" class="btn btn-primary" id="core_auth_reset_form_submit">{{ __('Change password') }}</button>
                    </div>
                </form>



              </div>
            </div>
          </div>
{% endblock %}
{% block additionaljs %}
<script nonce="{{ csp_nonce.script_src }}">
 
  $('#core_auth_reset_form #core_auth_reset_form_submit').on('click', function (event) {
      event.preventDefault();
      var formData = new FormData(document.getElementById("core_auth_reset_form"));
      $(".card-footer").html("<b> <div class='spinner-border spinner-border-sm'></div> {{ __('Processing ...') }}</b>");
      $("#email").prop("disabled", true);

      $.ajax({
             url : '{{ url_for("core.auth.update.api") }}',
             type : 'POST',
             data : formData,
             processData: false,  // tell jQuery not to process the data
             contentType: false,  // tell jQuery not to set contentType
             

             success : function(res) {

                $('#toast-placeholder').empty();
                $(Twig.twig({ ref: 'toasts' }).render({ title: '{{ __("Password update") }}' , msg: '{{ __("Updated! Please sign in.") }}' })).appendTo("#toast-placeholder");
                $('.toast').toast('show');
               

             },
             error: function(res) {
                $('#toast-placeholder').empty();
                if (res.error !== undefined) { 
                  $(Twig.twig({ ref: 'toasts' }).render({ title: '{{ __("Password update") }}' , msg: '{{ __("Oops! ") }}' + res.error.message })).appendTo("#toast-placeholder");
                } else {
                  $(Twig.twig({ ref: 'toasts' }).render({ title: '{{ __("Password update") }}' , msg: '{{ __("Oops!") }}'                       })).appendTo("#toast-placeholder");
                }
                $('.toast').toast('show');
                $(".card-footer").html("<b>{{ __('Oops!') }} <a href='#'>{{ __('Please retry') }}</a>.</b>");

             }
        });
        
  });
  


</script>
{% endblock %}
