{% extends '/Core/Views/templates/default.twig' %}

{% block content %}
          <div class="section-header">
            <h1>{{ __('Request a password reset') }}</h1>
          </div>
          <div class="section-body">
            {% include '/Core/Views/templates/partials/flash.twig' %}
            <div class="card card-primary col-4">

              <form action="{{ url_for('core.reset.web') }}" method="post" autocomplete="off" id="core_auth_reset_form">
                <div class="card-header">{{ __('Please provide your details below, or')}}&nbsp;<a href="{{ url_for('core.signin.web') }}">{{ __('sign in instead') }}</a>.</div>
                  <div class="card-body pb-0">
                        <div class="form-group">
                            <label for="email">{{ __('Email') }}</label>
                            <input type="email" name="email" id="email" placeholder="you@domain.com" class="form-control{{ validation_errors.email ? ' is-invalid' : validation_reseed.email ? ' is-valid' : '' }}" value="{{ validation_reseed.email }}">
                            {% if validation_errors.email %}
                                <span class="invalid-feedback">{{ validation_errors.email | first }}</span>
                            {% endif %}
                            <span style='float: right'></span>
                        </div>
                    </div>
                    <div class="card-footer">
                      <input type="hidden" name="redirect" value="{{ redirect }}">
                      <button type="submit" class="btn btn-primary" id="core_auth_reset_form_submit">{{ __('Request password reset') }}</button>
                    </div>
                </form>



              </div>
            </div>
          </div>
{% endblock %}
{% block additionaljs %}
<script nonce="{{ csp_nonce.script_src }}">
 
  $('#core_auth_reset_form #core_auth_reset_form_submit').on('click', function (event) {
      event.preventDefault();
      var formData = new FormData(document.getElementById("core_auth_reset_form"));
      $(".card-footer").html("<b> <div class='spinner-border spinner-border-sm'></div> {{ __('Processing ...') }}</b>");
      $("#email").prop("disabled", true);

      $.ajax({
             url : '{{ url_for("core.reset.web") }}',
             type : 'POST',
             data : formData,
             processData: false,  // tell jQuery not to process the data
             contentType: false,  // tell jQuery not to set contentType
             

             success : function(res) {

                $('#toast-placeholder').empty();
                $(Twig.twig({ ref: 'toasts' }).render({ title: '{{ __("Password reset") }}' , msg: '{{ __("Got you.") }}' })).appendTo("#toast-placeholder");
                $('.toast').toast('show');
                $(".card-footer").html("<b></div> {{ __('Please check your e-mail to proceed.') }}</b>");
                
                
                

             },
             error: function(res) {
                $('#toast-placeholder').empty();
                if (res.error !== undefined) { 
                  $(Twig.twig({ ref: 'toasts' }).render({ title: '{{ __("Password reset") }}' , msg: '{{ __("Oops! ") }}' + res.error.message })).appendTo("#toast-placeholder");
                } else {
                  $(Twig.twig({ ref: 'toasts' }).render({ title: '{{ __("Password reset") }}' , msg: '{{ __("Oops!") }}'                       })).appendTo("#toast-placeholder");
                }
                $('.toast').toast('show');
                $(".card-footer").html("<b>{{ __('Oops!') }} <a href='{{ url_for('core.reset.web') }}'>{{ __('Please retry') }}</a>.</b>");

             }
        });
        
  });
  


</script>
{% endblock %}
