{% extends '/Core/Views/templates/default.twig' %}

{% block content %}
          <div class="section-header">
            <h1>{{ __('Sign up') }}</h1>
          </div>
          <div class="section-body">
            {% include '/Core/Views/templates/partials/flash.twig' %}
            <div class="card card-primary col-4">
              <form action="{{ url_for('core.signup.web') }}" method="post" autocomplete="off">
                <div class="card-header">{{ __('Please provide your details below')}}</div>
                  <div class="card-body pb-0">
                        <div class="form-group">
                            <label for="email">{{ __('Email') }}</label>
                            <input type="email" name="email" id="email" placeholder="you@domain.com" class="form-control{{ validation_errors.email ? ' is-invalid' : validation_reseed.email ? ' is-valid' : '' }}" value="{{ validation_reseed.email }}">
                            {% if validation_errors.email %}
                                <span class="invalid-feedback">{{ validation_errors.email | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="name">{{ __('Name') }}</label>
                            <input type="text" name="name" id="name" class="form-control{{ validation_errors.name ? ' is-invalid'  : validation_reseed.name ? ' is-valid' : '' }}" value="{{ validation_reseed.name }}">
                            {% if validation_errors.name %}
                                <span class="invalid-feedback">{{ validation_errors.name | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="password">{{ __('Password') }}</label>
                            <input type="password" name="password" id="password" class="form-control{{ validation_errors.password ? ' is-invalid' : '' }}">
                            {% if validation_errors.password %}
                                <span class="invalid-feedback">{{ validation_errors.password | first }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary">{{ __('Sign up') }}</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </section>
{% endblock %}
{% block additionaljs %}
  <script src="/assets/node_modules/@claviska/jquery-ajax-submit/jquery.ajaxSubmit.min.js" nonce="dummy_nonce"></script>

  <script nonce="{{ csp_nonce.script_src }}">
      $("form").ajaxSubmit({
          success: function(res) {
              console.log(res);
              alert('You have been signed up');
              location.reload(true);
          },
          error: function(res) {
              $("#validation_errors").html("");
              $("#validation_errors").empty();
              $.each(res.message.validation_errors, function(key,value) {
                  $("#validation_errors").append("<div class='alert alert-danger'>"+key+' '+value[0]+"</div>");
              }); 
          }
      });
  </script>
{% endblock %}
