<div class="modal fade" tabindex="-1" role="dialog" id="{{ enterprise_projects_id }}_modal" data-backdrop="false">
  <div class="modal-dialog modal-lg" role="document">
    <form action="{{ url_for('enterprise.projects.api01') }}" method="post" autocomplete="off" id="{{ enterprise_projects_id }}_form">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ __('Account') }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row"> 
            <div class="form-group col-md-6">
              <label>{{ __('Name') }}*</label>
              <div class="input-group">
                <input type="text" class="form-control" name="name" required>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>{{ __('Parent') }}</label>
              <select class="form-control select2" name="parent" required style="width: 100%" id="select_form_parent">
                <option value="0" selected>{{ __('Without parent') }}</option>
                {% for pro in projects %}
                <option value="{{ pro.id }}">{{ pro.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>{{ __('Description') }}</label>
              <div class="input-group">
                <input type="text" class="form-control" name="description">
              </div>
            </div>
          </div>
          <div class="form-row">
              <div class="form-group col-2">
                <label class="form-label">{{ __('Order') }}</label>
                <div class="input-group selectgroup mt-1">
                  <label class="selectgroup-item">
                    <input type="radio" name="flags[order]" value="true" class="selectgroup-input" checked="">
                    <span class="selectgroup-button selectgroup-button-icon"><i class="fas fa-check"></i></span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="flags[order]" value="false" class="selectgroup-input">
                    <span class="selectgroup-button selectgroup-button-icon"><i class="fas fa-times"></i></span>
                  </label>
                  </div>
              </div>
              <div class="form-group col-2">
                <label class="form-label">{{ __('Task') }}</label>
                <div class="input-group selectgroup mt-1">
                  <label class="selectgroup-item">
                    <input type="radio" name="flags[task]" value="true" class="selectgroup-input" checked="">
                    <span class="selectgroup-button selectgroup-button-icon"><i class="fas fa-check"></i></span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="flags[task]" value="false" class="selectgroup-input">
                    <span class="selectgroup-button selectgroup-button-icon"><i class="fas fa-times"></i></span>
                  </label>
                  </div>
              </div>
              <div class="form-group col-2">
                <label class="form-label">{{ __('Event') }}</label>
                <div class="input-group selectgroup mt-1">
                  <label class="selectgroup-item">
                    <input type="radio" name="flags[event]" value="true" class="selectgroup-input" checked="">
                    <span class="selectgroup-button selectgroup-button-icon"><i class="fas fa-check"></i></span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="flags[event]" value="false" class="selectgroup-input">
                    <span class="selectgroup-button selectgroup-button-icon"><i class="fas fa-times"></i></span>
                  </label>
                  </div>
              </div>
          </div>
        </div>
        <div class="modal-footer bg-whitesmoke br">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ __('Close' ) }}</button>
          <button type="submit" class="btn btn-primary">{{ __('Save') }}</button>
        </div>
      </div>
    </form>
  </div>
</div>

